<h1>Cocktails List</h1>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category">
    <%= cl_image_tag cocktail.photo.key, height: 300, width: 300, crop: :fill %> <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
  </div>
  <% end %>
</div>
<p> <%= link_to "Add new cocktail", new_cocktail_path %> </p>
